*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}
@media only screen and (min-width: 740px){
    body {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1)100%,rgba(0, 0, 0, 0.1)100%),url(../img/signbg2.jpg);
        background-position: center;
        background-size: cover;
    }
}
@media only screen and (max-width: 740px){
    body{
        background-image: none;
        background-color: black;
    }
   
    h1{
        font-size: 28px;
    }
    .contianer{
        width: 340px !important;
        margin: 0 !important;
        padding: 0 !important;
        margin-top: -9% !important;
        margin: 0px auto !important;
    }
    .content{
        width: 95%;
        margin-left: 1em;
        margin-right: 1em;
        padding: 0 !important;
    }
    .form input{
        width: 19em !important;
    }
    .form{
        margin: 0px auto;
        width: 60%;
    }
    input[type="checkbox"]{
        width: 9% !important;
    }
    .footer{
        padding: 0;
        margin: 0; 
        border-top: 1px solid #737373;
    }
    .footer div{
        display: inline;
        width: 100% !important;
        float: left;
        height: 30em;
        margin: 0 !important;
        padding: 0 !important;
    }
    .footer ul{
        height: 100%;
        float: left;
        margin: 0 !important;
        padding: 10px !important;
        display: inline;
    }
    .footer ul li{
        display: inline;
    }
    .footer ul li a{
        margin: 0;
        padding: 0;
    }

}

.container{
    width: 440px;
    height: 585px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 5px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.4);
    margin: 0px auto;
    margin-bottom: 5.8em;
}
.content{
    font-family: "Cairo",sans-serif;
    padding: 18px;
}
.form{
    width: 320px;
    margin: 0px auto;
}
.form input{
    border: 1px solid transparent;
    width: 312px;
    height: 49px;
    outline: none;
    border-radius: 5px;
    margin: -5px auto;
    margin-top: 0.8em;
    font-size: 16px;
    font-family:"Cairo", sans-serif;
    background-color: #333333;
    color: #fff;
    padding-left: 20px;
}
.Input:focus{
    background-color:#333333;
    border-color:#FF0000;
}
.form input[type="submit"]{
    background-color: #E50813;
    margin-top: 2.2em;
    padding: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    font-family:"Cairo", sans-serif;
}
.form input[type="submit"]:hover{
    cursor: pointer;
    background: #950101;
}
.form input::placeholder{
    color: gray;
    font-family:"Cairo", sans-serif;
    font-weight: 200px;
}
.form input[type="checkbox"]{
    height: 16px;
    width: 25px;
    accent-color: #737373;
}
.form label{
    color: #737373;
    line-height: 2em;
    display: inline;
    font-size: 13.5px;
}
.form a{
    text-decoration: none;
    color: #737373;
    float: right;
    line-height: 3em;
    font-size: 13.5px;
}
h1{
    color: #fff;
    font-family:"Cairo", sans-serif;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.bottom{
    width: 73%;
    margin: 0px auto;
    margin-top: 4em;
}
.bottom p{
    color: #737373;
    font-size: 14px;
    text-align: left;
}
.bottom p a{
    text-decoration: none;
    color: #fff;
}
.footer{
    background-color: rgba(0,0,0,0.75);
    padding: 0.1em;
}
.footer div{
    width: 80%;
    height: 10em;
    margin: 0px auto;
    padding: 1em;
}
.footer ul{
    padding-left: 2em;
    display: inline;
}
.footer ul li{
    display: inline;
    list-style: none;
    color: #fff;
    width: 20%;
    float: left;
    margin-left: 2.5%;
}
.footer a{
    text-decoration: none;
    color: #737373;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 2.5em;
    margin-top: 1em;
    padding: 1em;
}
.footer ul li a{
    font-size: 13px;
}
body a:hover{
    text-decoration: unset;
}
body a:active{
    color: #E50813;
}
.pass-wrap{
    position: relative;
}
#show-password
{
    position: absolute;
    top: 79%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    width: 1.5rem;
    display: flex;
    align-items: center;
    background-color: transparent;
}
#show-password img{
    width: 100%;
    height: auto;
}
button{
    background-color: #333333;
    border: none;
}
.logo{
    position: relative;
    left: 20px;
    top: 20px;
    color: #ffffff;
    font-weight: 900;
    font-size: 2.5rem;
    text-decoration:none;
}
.main-color{
    color: #c0392b;
}